<div class="comment-item">
  <small><a class="font-weight-bold" href="/profile/{{ author._id }}">{{ author.name }}</a></small>
  <p><large>{{ content }}</large><br><small>on {{date creation }}</small></p>
  <hr class="comment-horizontal-line">
</div>

{{#if canDelete}}
  <form class="ml-5" action="/post/{{ post }}/{{ _id }}/delete" method="POST">
  <button class="btn btn-primary mb-2">Delete</button>
</form>
  {{/if}}
