<div class="comment-item">
  <small><a class="font-weight-bold" href="/profile/{{ author._id }}">{{ author.name }}</a></small>
  <p><large>{{ content }}</large><br><small>on {{date creation }}</small></p>
</div>

{{#if canDelete}}
  <form action="/post/{{ post }}/{{ _id }}/delete" method="POST">
  <button class="">Delete</button>
</form>
  {{/if}}