{{!-- <div class="post d-flex justify-content-center align-items-md-center flex-column">
  <a class="mt-5 postfa" href="/post/{{_id}}"><h1 class="postTitle-heading">{{title}}</h1></a>
  <img class="w-50 h-50" src="{{photo}}" alt="">
<<<<<<< HEAD
  <div id="post-author-share-fb">
    <a class="w-50 m-auto" href="/profile/{{author.id}}"><h5>{{author.name}}</h5></a>
    <div class="fb-share-button ml-4" data-href="https://www.facebook.com/sharer/sharer.php?{{postInfo._id}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partilhar</a></div>
  </div>
</div>
 --}}

<div style="text-align: center; margin: 50px 0">
  <a class="mt-5 postfa" href="/post/{{_id}}"><h1 class="postTitle-heading">{{title}}</h1></a>
  <div>
  <img class="w-50 h-50" src="{{photo}}" alt="">
  <div class="d-flex" style="max-width: 50%;
    margin: 20px auto;
    justify-content: space-between;">
    <a href="/profile/{{author.id}}"><h5>{{author.name}}</h5></a>
    <div class="fb-share-button ml-4" data-href="https://www.facebook.com/sharer/sharer.php?u={{photo}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partilhar</a></div>
  </div>
  </div>
=======
  <a class="w-50 m-auto" href="/profile/{{author.id}}"><h5>{{author.name}}</h5></a>
  <hr class="horizontalLineBetweenPosts d-flex justify-content-center align-items-md-center flex-column">
>>>>>>> 7db2dbb39f70cbce653aa332eded1f918a426303
</div>