
<div class="feed-1stpage" style="text-align: center; margin: 50px 0">
  <a class="mt-5 postfa" href="/post/{{_id}}"><h1 class="postTitle-heading">{{title}}</h1></a>
  <div>
  <img class="w-50 h-50" src="{{photo}}" alt="">
  <div class="post-underpic">
    <a href="/profile/{{author._id}}"><h5>{{author.name}}</h5></a>
    <form action="/post/{{_id}}/listlike" method="POST">
    <button class="button-like"><img src="/images/blueLike.png" alt=""> {{numLikes}}</button>
  </form>

  <a href="https://www.facebook.com/sharer/sharer.php?u=fullstack-froject2-ironhack.herokuapp.com/post/{{_id}}" target="_blank"><img class="shareFB-img" src="/images/shareFb.png" alt="Share On facebook"></a>

  </div>
    <hr class="horizontalLineBetweenPosts d-flex justify-content-center align-items-md-center flex-column">
  </div>
</div>