<a href ="/page/ {{ page._id }}/post/{{ _id }}" class="post">
  <article>
    <div>
      <h5>{{ content }}</h5>
      <small>{{page.name}} | {{author.name}}</small>
    </div>
    <figure>{{post.photos}}</figure>
  </article>
</a>