<div class="post d-flex justify-content-center align-items-md-center flex-column">
  <a class="mt-2" href="/post/{{_id}}"><h1>{{title}}</h1></a>
  <img class="w-50 h-50" src="{{photo}}" alt="">
  <a class="w-50 m-auto" href="/profile/{{author.id}}"><h5>{{author.name}}</h5></a>
</div>