<div class="profile4eachauthor">
    <article class ="own-profile">
<h1 class="author-title-name">{{author.name}}'s Profile</h1>
<picture class="profile-image">
    <img class="ml-5 w-25 h-25" src={{author.photo}} alt="No-pic">
</picture>
<h5 class="description"> <i>"{{author.description}}"</h5>
</div>

{{#if isOwnProfile}}

<div class="author-profile">
    <button type="submit" class="btn btn-primary"><a href="/profile/{{author._id}}/edit">Edit</a></button>     
</div>
{{/if}}
</article>
<h1 class="author-title-name">{{author.name}}'s Profile</h1>
 <h5 class="description"> {{author.description}}</h5>

<section class="author-div-posts">
 <h1 class="category-h2">{{author.name}}'s Posts:</h1>

  <div id="eachposts" class="d-flex flex-row author-posts">
    {{#each posts}}
<div class="sofia">
    {{>post}}
</div>

    {{/each}}
  </div>
</section>
