<article class="single-post d-flex justify-content-center align-items-md-center flex-column">
  <h1>{{ postInfo.title }}</h1>
  <img class="w-75 h-75" src="{{postInfo.photo}}" alt="Image-Post">
  <h3 class="w-75 m-auto">{{postInfo.author.name}}</h3>
  <h5 class="w-75 m-auto">Category: {{postInfo.category}}</h5>
</article>

  {{#if ownProfile}}
  <form action="/post/{{postInfo._id}}/delete" method="POST">
    <button class="">Delete</button>
  </form>
  {{/if}}

<footer class="d-flex justify-content-center align-items-md-center flex-column">  
  {{#if user}}
  <h4>Add a comment</h4>
  {{>commentform}}
  <br>
  {{/if}}
  <h4>Comments</h4>
  {{#each comments}}
    {{>comment}}
  {{/each}}
</footer>