<article id="single-post" class="single-post d-flex justify-content-center align-items-md-center flex-column">
  <h1 class ="post-title">{{ postInfo.title }}</h1>
  <img id="image-single-post" class="w-75 h-75" src="{{postInfo.photo}}" alt="Image-Post">
  <h3 class="w-75 m-auto">{{postInfo.author.name}}</h3>
  <h5 class="w-75 m-auto"><small>{{postInfo.category}}</small></h5>
  <form action="/post/{{postInfo._id}}/like" method="POST">
    <button class="button-like"><img src="/images/blueLike.png" alt=""> {{numLikes}}</button>
  </form>
</article>

  {{#if ownProfile}}

  <div class="btn-edit-delete">
    <form action="/post/{{postInfo._id}}/delete" method="POST">
    <button class="btn btn-primary mb-2">Delete</button>
  </form>
  
    <button id="edit-post-btn" class="btn btn-primary mb-2"><a href = "/post/{{postInfo._id}}/edit">Edit Post</a></button>
    </div>
  
  {{/if}}

<footer class="d-flex justify-content-center align-items-md-center flex-column">  
  {{#if user}}
  <h4 class="add-a-comment">Add a comment</h4>
  {{>commentform}}
  <br>
  {{/if}}
  <h4>Comments</h4>
  {{#each editedComments }}
    {{>comment}}
  {{/each}}
</footer>