<article id="single-post" class="single-post d-flex justify-content-center align-items-md-center flex-column">
  <h1 class ="post-title">{{ postInfo.title }}</h1>
  <img class="w-75 h-75" src="{{postInfo.photo}}" alt="Image-Post">
  <h3 class="w-75 m-auto">{{postInfo.author.name}}</h3>
  <h5 class="w-75 m-auto">Category: {{postInfo.category}}</h5>
   <form action="/post/{{postInfo._id}}/like" method="POST">
    <button class="button-like"><img src="/images/blueLike.png" alt=""></button>
  </form>
  <h2 class="font-likes">Likes: {{numLikes}}</h2>
</article>

  {{#if ownProfile}}

  <div class="fb-share-button" data-href="https://www.facebook.com/sharer/sharer.php?{{postInfo._id}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partilhar</a></div>

  <form action="/post/{{postInfo._id}}/delete" method="POST">
    <button class="">Delete</button>
  </form>
  
    <button class=""><a href = "/post/{{postInfo._id}}/edit">Edit Post</a></button>
  {{/if}}
<footer class="d-flex justify-content-center align-items-md-center flex-column">  
  {{#if user}}
  <h4 class="add-a-comment">Add a comment</h4>
  {{>commentform}}
  <br>
  {{/if}}
  <h4>Comments</h4>
  {{#each editedComments }}
    {{>comment}}
  {{/each}}
</footer>