<article id="single-post" class="single-post d-flex justify-content-center align-items-md-center flex-column">
  <h1 class ="post-title">{{ postInfo.title }}</h1>
  <img class="w-75 h-75" src="{{postInfo.photo}}" alt="Image-Post">
  <h3 class="w-75 m-auto">{{postInfo.author.name}}</h3>
  <h5 class="w-75 m-auto">Category: {{postInfo.category}}</h5>
<<<<<<< HEAD
   <form action="/post/{{postInfo._id}}/like" method="POST">
    <button class=""><img src="" alt="like logo"></button>
=======
  <form action="/post/{{_id}}/listlike" method="POST">
    <button class="button-like"><img src="/images/blueLike.png" alt=""> {{numLikes}}</button>
>>>>>>> 0d8bd9c568500c472c8bbbe4f49a4eb8af18947f
  </form>
</article>

  {{#if ownProfile}}

  {{!-- <div class="fb-share-button" data-href="https://www.facebook.com/sharer/sharer.php?{{postInfo._id}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partilhar</a></div> --}}
  <div class="btn-edit-delete">
    <form action="/post/{{postInfo._id}}/delete" method="POST">
    <button class="">Delete</button>
  </form>
  
    <button class="btn-edit-post"><a href = "/post/{{postInfo._id}}/edit">Edit Post</a></button>
    </div>
  
  {{/if}}
<footer class="d-flex justify-content-center align-items-md-center flex-column">  
  {{#if user}}
  <h4 class="add-a-comment">Add a comment</h4>
  {{>commentform}}
  <br>
  {{/if}}
  <h4>Comments</h4>
  {{#each editedComments }}
    {{>comment}}
  {{/each}}
</footer>